#DATABASE INFO

DB_HOST=localhost
DB_PORT=1521
DB_USERNAME=shoptrack_user
DB_PASSWORD=1234
DB_SERVICE_NAME=shoptrack_pdb
DB_SYNCHRONIZE=true
PORT=3004


#EMAIL 

EMAIL_USER=trackshop269@gmail.com
EMAIL_PASS=pzsi xjir gmuf emzv
